<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Pizze</title>

</head>
<body>
<div class="container">
    <h1>Pizzas</h1>
    <table class="table">
        <thead>
        <th>Nome</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        </thead>

        <tbody>
        <tr th:each="pizza : ${list}" th:object="${pizza}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{price}"></td>
        </tr>
        </tbody>

    </table>
</div>


</body>
</html>